*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #f5f5f7;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.mobi-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
          clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.nav {
  position: sticky;
  top: 0;
  height: 4.4rem;
  width: 100%;
  background-color: rgba(29, 29, 31, 0.9);
  z-index: 5;
}
.nav img {
  height: 100%;
  width: 100%;
}

.nav-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -100vh;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
}
.nav-top__container-one {
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  border-bottom: 1.5px solid rgba(110, 110, 115, 0.4392156863);
}
.nav-top__container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3.5rem;
  width: 100%;
}
.nav-top__input-form {
  display: block;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(110, 110, 115, 0.4392156863);
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 4rem;
  background-image: url("../img/globalnav_search_image__grey.svg");
  background-position: 1.5rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.nav-top__input-form:focus {
  color: #f5f5f7;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 4rem;
}
.nav-top__item {
  width: 100%;
  padding: 1.3rem 0;
  border-bottom: 1.5px solid rgba(110, 110, 115, 0.4392156863);
  color: rgba(245, 245, 247, 0.8);
}
.nav-top__item:last-child {
  border-bottom: none;
}

.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  z-index: 0;
}
.nav-bar__burger, .nav-bar__logo, .nav-bar__search, .nav-bar__bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  opacity: 0.8;
}
.nav-bar__bag {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.nav-bar__search {
  display: none;
}
.nav-bar__list {
  display: none;
}
.nav-bar__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav-bar__burger-bel {
  margin: 0.3rem;
  height: 0.1rem;
  width: 2rem;
  background-color: #f5f5f7;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.click-btn .nav-bar__burger-bel--up {
  -webkit-transform: rotate(-45deg) translateX(-5px);
          transform: rotate(-45deg) translateX(-5px);
}
.click-btn .nav-bar__burger-bel--down {
  -webkit-transform: rotate(45deg) translateX(-5px);
          transform: rotate(45deg) translateX(-5px);
}

.nav-hidden {
  top: 0;
}

.bag-hidden {
  opacity: 0;
}

.homepage-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 70vh 70vh;
  background-color: #fff;
}
.homepage-section h2 {
  padding-top: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.homepage-section h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.homepage-section a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #0066cc;
  padding: 1.5rem;
}

.iPad-section,
.iPhone-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.iPad-section__picture {
  background-image: url("../img/iPad.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  width: 70%;
  margin-bottom: 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.iPad-section__text {
  padding-bottom: 2.5rem;
}

.iPhone-section__picture {
  background-image: url("../img/iPhone.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iPhone-section__text {
  position: absolute;
}

@media screen and (min-width: 734px) {
  .homepage-section h2 {
    font-size: 4rem;
  }
  .homepage-section h3 {
    font-size: 2rem;
  }
  .homepage-section a {
    font-size: 1.8rem;
  }
  .iPad-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .iPad-section__picture {
    width: 90%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .iPad-section__text {
    position: absolute;
    right: 10rem;
  }
}
@media screen and (min-width: 834px) {
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.8;
  }
  .nav-bar__list-item {
    padding: 0 0.8rem;
    font-size: 1.4rem;
  }
  .nav-bar__burger {
    display: none;
  }
  .nav-bar__search {
    display: block;
    margin-right: 1rem;
  }
  .nav-top {
    display: none;
  }
  .iPad-section__text {
    position: absolute;
    right: 20rem;
  }
}
@media screen and (min-width: 1000px) {
  .homepage-section h2 {
    font-size: 4.5rem;
  }
  .homepage-section h3 {
    font-size: 2.5rem;
  }
  .homepage-section a {
    font-size: 1.8rem;
  }
  .iPad-section__text {
    right: 20rem;
  }
}
@-webkit-keyframes navItemAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navItemAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-item-animation {
  -webkit-animation: navItemAnimation 1s both;
          animation: navItemAnimation 1s both;
}/*# sourceMappingURL=style.css.map */