*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: -0.022em;
  font-family: "Lato", sans-serif;
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #f5f5f7;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(29, 29, 31, 0.9);
  height: 4.8rem;
}
.nav__burger, .nav__logo, .nav__search, .nav__bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.8rem;
  width: 4.8rem;
}
.nav__search {
  display: none;
}
.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__burger-bel {
  margin: 0.3rem;
  height: 0.1rem;
  width: 2rem;
  background-color: #f5f5f7;
}
.nav img {
  height: 100%;
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 4.8rem;
}

.nav__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1d1f;
  z-index: -5;
}

.nav__input-search {
  padding-top: 5rem;
}

label {
  color: white;
}

@media only screen and (min-width: 834px) {
  .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-container :nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .nav-container :nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .nav__list {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: inherit;
    z-index: 0;
  }
  .nav__burger {
    display: none;
  }
  .nav__search {
    display: block;
    margin-right: 1rem;
  }
  .nav__input-search {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */