*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 34rem;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #fbfbfd;
  color: #1d1d1f;
}

a {
  text-decoration: none;
  color: #fbfbfd;
  cursor: pointer;
}

.wrapper,
.mobi-wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 30rem;
}

.wrapper {
  max-width: 100.24rem;
}

.mobi-wrapper {
  max-width: 60rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
          clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.nav {
  position: fixed;
  top: 0;
  height: 4.4rem;
  width: 100%;
  background-color: rgba(29, 29, 31, 0.9);
  z-index: 5;
}
.nav img {
  height: 100%;
  width: 100%;
}

.nav-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
}
.nav-top__container-one {
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  border-bottom: 1.5px solid rgba(110, 110, 115, 0.4392156863);
}
.nav-top__container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3.5rem;
  width: 100%;
}
.nav-top__input-form {
  display: block;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  background-image: url("../img/nav/globalnav_search_image__grey.svg");
  background-position: 1.5rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-color: #1d1d1f;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
}
.nav-top__input-form::-webkit-input-placeholder {
  color: #fbfbfd;
  opacity: 0.3;
}
.nav-top__input-form::-moz-placeholder {
  color: #fbfbfd;
  opacity: 0.3;
}
.nav-top__input-form:-ms-input-placeholder {
  color: #fbfbfd;
  opacity: 0.3;
}
.nav-top__input-form::-ms-input-placeholder {
  color: #fbfbfd;
  opacity: 0.3;
}
.nav-top__input-form::placeholder {
  color: #fbfbfd;
  opacity: 0.3;
}
.nav-top__input-form:focus {
  color: #fbfbfd;
}
.nav-top__item {
  width: 100%;
  padding: 1.3rem 0;
  border-bottom: 1.5px solid rgba(110, 110, 115, 0.4392156863);
  color: rgba(251, 251, 253, 0.8);
}
.nav-top__item:last-child {
  border-bottom: none;
}

.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  z-index: 5;
}
.nav-bar__burger, .nav-bar__logo, .nav-bar__search, .nav-bar__bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  opacity: 0.8;
}
.nav-bar__bag {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.nav-bar__search {
  display: none;
}
.nav-bar__list {
  display: none;
}
.nav-bar__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.nav-bar__burger-bel {
  margin: 0.3rem;
  height: 0.1rem;
  width: 2rem;
  background-color: #fbfbfd;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.click-btn .nav-bar__burger-bel--up {
  -webkit-transform: rotate(-45deg) translateX(-5px);
          transform: rotate(-45deg) translateX(-5px);
}
.click-btn .nav-bar__burger-bel--down {
  -webkit-transform: rotate(45deg) translateX(-5px);
          transform: rotate(45deg) translateX(-5px);
}

.nav-hidden {
  top: 0;
}

.bag-hidden {
  opacity: 0;
}

.main {
  background-color: #fff;
}

.text-title,
.text-M-title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.text-content,
.text-M-content {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.text-link,
.text-M-link {
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #0066cc;
}

.main-heroes {
  display: grid;
  grid-template-rows: 55rem 50rem 50rem;
  gap: 1.2rem;
}

.main-heroes > *,
.main-promos > * {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.iPad-hero__picture,
.iPhone-hero__picture,
.endframe-hero__picture {
  background-size: 74rem;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.iPad-hero {
  background-color: #fbfbfd;
}
.iPad-hero__text {
  position: absolute;
  top: 8rem;
}
.iPad-hero__picture {
  background-image: url("../img/hero/hero_ipad__rh99l6c3yuyy_small.jpg");
}

.iPhone-hero {
  background-color: #fbfbfd;
}
.iPhone-hero__text {
  position: absolute;
  top: 3.5rem;
}
.iPhone-hero__picture {
  background-image: url("../img/hero/hero_iphone14__fjmsqstr1ceq_small.jpg");
}

.endframe-hero {
  background-color: #010127;
}
.endframe-hero .text-title,
.endframe-hero .text-content {
  color: #fbfbfd;
}
.endframe-hero__text {
  position: absolute;
  bottom: 5rem;
  max-width: 30rem;
}
.endframe-hero__picture {
  background-image: url("../img/hero/hero_endframe__8xosbwdvpaqe_small.jpg");
}

.main-promos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 1.2rem;
  margin: 1.2rem;
}

.main-promos > * {
  background-color: red;
}

@media only screen and (min-width: 734px) {
  .main-heroes {
    grid-template-rows: 70rem 68rem 68rem;
  }
  .iPad-hero__picture {
    background-size: 120rem;
    background-position: center;
    background-image: url("../img/hero/hero_ipad__rh99l6c3yuyy_medium.jpg");
  }
  .iPad-hero__text {
    top: 30rem;
    left: 50%;
  }
  .iPhone-hero__picture {
    background-size: 130rem;
    background-image: url("../img/hero/hero_iphone14__fjmsqstr1ceq_medium.jpg");
  }
  .iPhone-hero__text {
    top: 6rem;
  }
  .endframe-hero__picture {
    background-size: 110rem;
    background-position: center 0.8rem;
    background-image: url("../img/hero/hero_endframe__8xosbwdvpaqe_medium.jpg");
  }
  .endframe-hero__text {
    max-width: 43rem;
    bottom: 6rem;
  }
  .text-title {
    font-size: 4.8rem;
  }
  .text-content {
    font-size: 2.4rem;
  }
  .text-link {
    font-size: 1.9rem;
  }
  .main-promos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
  }
}
@media only screen and (min-width: 834px) {
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.8;
  }
  .nav-bar__list-item {
    padding: 0 0.8rem;
    font-size: 1.4rem;
  }
  .nav-bar__burger {
    display: none;
  }
  .nav-bar__search {
    display: block;
    margin-right: 1rem;
  }
  .nav-top {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .main-heroes {
    grid-template-rows: 74rem 68rem 68rem;
  }
  .iPad-hero__picture {
    background-size: 350rem;
    background-image: url("../img/hero/hero_ipad__rh99l6c3yuyy_large.jpg");
  }
  .iPhone-hero__picture {
    background-size: 370rem;
    background-image: url("../img/hero/hero_iphone14__fjmsqstr1ceq_large.jpg");
  }
  .iPhone-hero__text {
    top: 5rem;
  }
  .endframe-hero__picture {
    background-size: 340rem;
    background-position: center -1.5rem;
    background-image: url("../img/hero/hero_endframe__8xosbwdvpaqe_large.jpg");
  }
  .endframe-hero__text {
    max-width: 50rem;
    bottom: 5rem;
  }
  .text-title {
    font-size: 5.6rem;
  }
  .text-content {
    font-size: 2.8rem;
  }
  .text-link {
    font-size: 2.1rem;
  }
}
@media (orientation: landscape) {
  .nav-top {
    top: -200vh;
    overflow-y: scroll;
  }
  .nav-hidden {
    top: 0;
  }
  .nav-hidden .nav-top__container-one {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
  }
  .nav-hidden .nav-top__container-two {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    z-index: 0;
  }
}
@-webkit-keyframes navItemAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navItemAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-item-animation {
  -webkit-animation: navItemAnimation 1s both;
          animation: navItemAnimation 1s both;
}/*# sourceMappingURL=style.css.map */