@use 'colors' as *;

.wrapper,
.mobi-wrapper {
	margin: 0 auto;
	width: 100%;
	min-width: 30rem;
}

.wrapper {
	max-width: 100.24rem;
}

.mobi-wrapper {
	max-width: 60rem;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

////////////////////// navigation ///////////////////////
/////////////////////////////////////////////////////////
.nav {
	position: fixed;
	top: 0;
	height: 4.4rem;
	width: 100%;
	background-color: rgba($color: $second, $alpha: 0.9);
	z-index: 5;

	img {
		height: 100%;
		width: 100%;
	}
}

.nav-top {
	position: absolute;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	top: -100vh;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: $third;
	transition: top 0.7s;

	&__container-one {
		padding: 4.5rem 1.5rem 1.5rem 1.5rem;
		width: 100%;
		border-bottom: 1.5px solid $smoke;
	}
	&__container-two {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0 3.5rem;
		width: 100%;
	}

	&__input-form {
		display: block;
		width: 100%;
		height: 4rem;
		border-radius: 1rem;
		border: none;
		background-image: url('../img/globalnav_search_image__grey.svg');
		background-position: 1.5rem 1.3rem;
		background-repeat: no-repeat;
		padding-left: 40px;
		background-color: $second;
		font-family: 'Lato', sans-serif;
		font-size: 1.7rem;
		font-weight: 300;
	}

	&__input-form::placeholder {
		color: $first;
		opacity: 0.3;
	}

	&__input-form:focus {
		color: $first;
	}

	&__item {
		width: 100%;
		padding: 1.3rem 0;
		border-bottom: 1.5px solid $smoke;
		color: rgba($color: $first, $alpha: 0.8);
	}

	&__item:last-child {
		border-bottom: none;
	}
}

.nav-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.4rem;
	z-index: 5;

	&__burger,
	&__logo,
	&__search,
	&__bag {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4.4rem;
		width: 4.4rem;
		opacity: 0.8;
	}

	&__bag {
		transition: opacity 0.3s;
	}

	&__search {
		display: none;
	}
	&__list {
		display: none;
	}

	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		&-bel {
			margin: 0.3rem;
			height: 0.1rem;
			width: 2rem;
			background-color: $first;
			transition: transform 0.3s;
		}
	}
}

.click-btn {
	.nav-bar__burger-bel--up {
		transform: rotate(-45deg) translateX(-5px);
	}
	.nav-bar__burger-bel--down {
		transform: rotate(45deg) translateX(-5px);
	}
}

.nav-hidden {
	top: 0;
}

.bag-hidden {
	opacity: 0;
}

////////////////////////// main /////////////////////////
/////////////////////////////////////////////////////////
.main {
	background-color: $bgcolor;
}

.text-title,
.text-M-title {
	margin-bottom: 0.5rem;
	font-size: 3rem;
	font-weight: 700;
}
.text-content,
.text-M-content {
	margin-bottom: 1.2rem;
	font-size: 1.8rem;
	font-weight: 400;
}

.text-link,
.text-M-link {
	padding: 1.5rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: $link;
}

.main-heroes {
	display: grid;
	grid-template-rows: 55rem 50rem 50rem;
	gap: 1.2rem;
}

.main-heroes > *,
.main-promos > * {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.iPad-hero__picture,
.iPhone-hero__picture,
.endframe-hero__picture {
	background-size: 74rem;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.iPad-hero {
	background-color: $first;
	&__text {
		position: absolute;
		top: 8rem;
	}

	&__picture {
		background-image: url('../img/hero_ipad__rh99l6c3yuyy_small.jpg');
	}
}

.iPhone-hero {
	background-color: $first;
	&__text {
		position: absolute;
		top: 3.5rem;
	}

	&__picture {
		background-image: url('../img/hero_iphone14__fjmsqstr1ceq_small.jpg');
	}
}

.endframe-hero {
	background-color: $bgdark;
	.text-title,
	.text-content {
		color: $first;
	}

	&__text {
		position: absolute;
		bottom: 5rem;
		max-width: 30rem;
	}

	&__picture {
		background-image: url('../img/hero_endframe__8xosbwdvpaqe_small.jpg');
	}
}

.main-promos {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	gap: 1.2rem;
	margin: 1.2rem;
}

.main-promos > * {
	background-color: red;
}
