@media screen and (min-width: 734px) {
	.iPad-section {
		&__picture {
			background-image: url('../../img/hero_ipad__rh99l6c3yuyy_medium.jpg');
		}
	}

	.iPhone-section {
		&__picture {
			background-image: url('../../img/hero_iphone14__fjmsqstr1ceq_medium.jpg');
		}
	}

	.endframe-section {
		&__picture {
			background-image: url('../../img/hero_endframe__8xosbwdvpaqe_medium.jpg');
		}
	}
}

@media screen and (min-width: 834px) {
	.nav-bar {
		&__list {
			display: flex;
			justify-content: space-evenly;
			width: 80%;
			height: 100%;
			align-items: center;
			opacity: 0.8;
			&-item {
				padding: 0 0.8rem;
				font-size: 1.4rem;
			}
		}

		&__burger {
			display: none;
		}

		&__search {
			display: block;
			margin-right: 1rem;
		}
	}

	.nav-top {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.iPad-section {
		&__picture {
			background-image: url('../../img/hero_ipad__rh99l6c3yuyy_large.jpg');
		}
	}

	.iPhone-section {
		&__picture {
			background-image: url('../../img/hero_iphone14__fjmsqstr1ceq_large.jpg');
		}
	}

	.endframe-section {
		&__picture {
			background-image: url('../../img/hero_endframe__8xosbwdvpaqe_large.jpg');
		}
	}
}
