@use 'colors' as *;

@media only screen and (min-width: 834px) {
	.nav-container {
		:nth-child(3) {
			order: 4;
		}
		:nth-child(4) {
			order: 5;
		}

		background-color: green;
	}

	.nav-container {
		flex-direction: row;
	}
}
