@media (orientation: landscape) {
	.nav-top {
		top: -200vh;
		height: 200vh;
	}
	.nav-hidden {
		top: 0;
	}
}

@media only screen and (min-widtand: 734px) {
	.main-heroes {
		grid-template-rows: 70rem 68rem 68rem;
	}

	.iPad-hero {
		&__picture {
			background-size: 120rem;
			background-position: center;
			background-image: url('../img/hero_ipad__rh99l6c3yuyy_medium.jpg');
		}

		&__text {
			top: 30rem;
			left: 50%;
		}
	}

	.iPhone-hero {
		&__picture {
			background-size: 130rem;
			background-image: url('../img/hero_iphone14__fjmsqstr1ceq_medium.jpg');
		}

		&__text {
			top: 6rem;
		}
	}

	.endframe-hero {
		&__picture {
			background-size: 110rem;
			background-position: center 0.8rem;
			background-image: url('../img/hero_endframe__8xosbwdvpaqe_medium.jpg');
		}

		&__text {
			max-width: 43rem;
			bottom: 6rem;
		}
	}

	.text-title {
		font-size: 4.8rem;
	}

	.text-content {
		font-size: 2.4rem;
	}

	.text-link {
		font-size: 1.9rem;
	}

	.main-promos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 1.2rem;
	}
}

@media only screen and (min-width: 834px) {
	.nav-bar {
		&__list {
			display: flex;
			justify-content: space-evenly;
			width: 80%;
			height: 100%;
			align-items: center;
			opacity: 0.8;
			&-item {
				padding: 0 0.8rem;
				font-size: 1.4rem;
			}
		}

		&__burger {
			display: none;
		}

		&__search {
			display: block;
			margin-right: 1rem;
		}
	}

	.nav-top {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.main-heroes {
		grid-template-rows: 74rem 68rem 68rem;
	}

	.iPad-hero {
		&__picture {
			background-size: 350rem;
			background-image: url('../img/hero_ipad__rh99l6c3yuyy_large.jpg');
		}
	}

	.iPhone-hero {
		&__picture {
			background-size: 370rem;
			background-image: url('../img/hero_iphone14__fjmsqstr1ceq_large.jpg');
		}

		&__text {
			top: 5rem;
		}
	}

	.endframe-hero {
		&__picture {
			background-size: 340rem;
			background-position: center -1.5rem;
			background-image: url('../img/hero_endframe__8xosbwdvpaqe_large.jpg');
		}

		&__text {
			max-width: 50rem;
			bottom: 5rem;
		}
	}

	.text-title {
		font-size: 5.6rem;
	}

	.text-content {
		font-size: 2.8rem;
	}

	.text-link {
		font-size: 2.1rem;
	}
}
