@use 'colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
}

.nav {
	position: fixed;
	width: 100%;
	background-color: rgba($color: $second, $alpha: 0.9);
	height: 4.8rem;
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
