@media only screen and (min-width: 734px) {
	.main-heroes {
		grid-template-rows: 70rem 68rem 68rem;
	}

	.iPad-hero {
		&__picture {
			background-size: 120rem;
			background-position: center;
			background-image: url('../img/hero/hero_ipad__rh99l6c3yuyy_medium.jpg');
		}

		&__text {
			top: 30rem;
			left: 50%;
		}
	}

	.iPhone-hero {
		&__picture {
			background-size: 130rem;
			background-image: url('../img/hero/hero_iphone14__fjmsqstr1ceq_medium.jpg');
		}

		&__text {
			top: 6rem;
		}
	}

	.endframe-hero {
		&__picture {
			background-size: 110rem;
			background-position: center 0.8rem;
			background-image: url('../img/hero/hero_endframe__8xosbwdvpaqe_medium.jpg');
		}

		&__text {
			max-width: 43rem;
			bottom: 6rem;
		}
	}

	.text-title {
		font-size: 4.8rem;
	}

	.text-content {
		font-size: 2.4rem;
	}

	.text-link {
		font-size: 1.9rem;
	}

	.main-promos {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 49rem);
		margin-left: 1.2rem;
		margin-right: 1.2rem;
	}

	.promo-picture {
		background-size: 52rem;
	}

	.promo-text {
		top: 4rem;
	}

	.iPhone-promo {
		&__picture {
			background-image: url('../img/promo/promo_iphone14pro__4n4twj56fzmu_medium.jpg');
		}
	}

	.tv-promo {
		&__picture {
			background-image: url('../img/promo/promo_tv4k_avail__e17d9isb0vwy_medium.jpg');
		}
	}

	.iPad-promo {
		&__picture {
			background-image: url('../img/promo/promo_ipadpro__ch217v9v7no2_medium.jpg');
		}
	}

	.watchU-promo {
		&__picture {
			background-image: url('../img/promo/promo_apple_watch_ultra__gnsqulvdc4a6_medium.jpg');
		}
	}

	.watch8-promo {
		&__picture {
			background-image: url('../img/promo/promo_apple_watch_series_8__ch7rexplmihe_medium.jpg');
		}
	}

	.fit-promo {
		&__picture {
			background-image: url('../img/promo/promo_applefitnessplus_taylorswift__liig90blwtuu_medium.jpg');
		}
	}
}
