@media only screen and (min-width: 1024px) {
	.main-heroes {
		grid-template-rows: 74rem 68rem 68rem;
	}

	.iPad-hero {
		&__picture {
			background-size: 350rem;
			background-image: url('../img/hero/hero_ipad__rh99l6c3yuyy_large.jpg');
		}
	}

	.iPhone-hero {
		&__picture {
			background-size: 370rem;
			background-image: url('../img/hero/hero_iphone14__fjmsqstr1ceq_large.jpg');
		}

		&__text {
			top: 5rem;
		}
	}

	.endframe-hero {
		&__picture {
			background-size: 340rem;
			background-position: center -1.5rem;
			background-image: url('../img/hero/hero_endframe__8xosbwdvpaqe_large.jpg');
		}

		&__text {
			max-width: 50rem;
			bottom: 5rem;
		}
	}

	.text-title {
		font-size: 5.6rem;
	}

	.text-content {
		font-size: 2.8rem;
	}

	.text-link {
		font-size: 2.1rem;
	}

	.main-promos {
		grid-template-rows: repeat(3, 58rem);
	}

	.promo-picture {
		background-size: 130rem;
	}

	.iPhone-promo {
		&__picture {
			background-image: url('../../img/promo/promo_iphone14pro__4n4twj56fzmu_large.jpg');
		}
	}

	.tv-promo {
		&__picture {
			background-image: url('../../img/promo/promo_tv4k_avail__e17d9isb0vwy_large.jpg');
		}
	}

	.iPad-promo {
		&__picture {
			background-image: url('../../img/promo/promo_ipadpro__ch217v9v7no2_large.jpg');
		}
	}

	.watchU-promo {
		&__picture {
			background-image: url('../../img/promo/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg');
		}
	}

	.watch8-promo {
		&__picture {
			background-image: url('../../img/promo/promo_apple_watch_series_8__ch7rexplmihe_large.jpg');
		}
	}

	.fit-promo {
		&__picture {
			background-image: url('../../img/promo/promo_applefitnessplus_taylorswift__liig90blwtuu_large.jpg');
		}
	}
}
