@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.footer {
	padding: 1.5rem;
	background-color: $smoke-light;
	color: $foot-text;
	font-size: 1.3rem;

	&__notes {
		&-bold {
			font-weight: 700;
		}
		a {
			font-family: $font;
			font-weight: 500;
			color: #424245;
		}
		li {
			padding-bottom: 1rem;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 43rem;
		width: 100%;
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $foot-border;

		&-column {
			height: 43rem;
		}
	}
}
