@use '../variables/colors' as *;

.main-promos {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 50rem);
	gap: 1.2rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.promo-picture {
	background-size: 75rem;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.promo-text {
	position: absolute;
	top: 3rem;
}

.iPhone-promo {
	&__picture {
		background-image: url('../../img/promo/promo_iphone14pro__4n4twj56fzmu_small.jpg');
	}
}

.tv-promo {
	&__picture {
		background-image: url('../../img/promo/promo_tv4k_avail__e17d9isb0vwy_small.jpg');
	}
}

.iPad-promo {
	&__picture {
		background-image: url('../../img/promo/promo_ipadpro__ch217v9v7no2_small.jpg');
	}
}

.watchU-promo {
	&__picture {
		background-image: url('../../img/promo/promo_apple_watch_ultra__gnsqulvdc4a6_small.jpg');
	}
}

.watch8-promo {
	&__picture {
		background-image: url('../../img/promo/promo_apple_watch_series_8__ch7rexplmihe_small.jpg');
	}
}

.fit-promo {
	&__picture {
		background-image: url('../../img/promo/promo_applefitnessplus_taylorswift__liig90blwtuu_small.jpg');
	}
}
