@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.slider {
	height: 54rem;
	width: 100%;
	overflow: hidden;

	&__track-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50rem;
		width: 100%;
	}

	&__slides {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	&__slide {
		position: absolute;
		display: block;
		width: 28.2rem;
		height: 100%;
		padding: 0 0.6rem;
		transition: transform 0.5s;
	}

	&__slide-link {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-repeat: no-repeat;
		&--1 {
			background-image: url('../img/slider/1-slide-small-selena.jpg');
		}
		&--2 {
			background-image: url('../img/slider/2-slide-small-quest.jpg');
		}
		&--3 {
			background-image: url('../img/slider/3-slide-small-believe.jpg');
		}
		&--4 {
			background-image: url('../img/slider/4-slide-small-see.jpg');
		}
		&--5 {
			background-image: url('../img/slider/5-slide-small-causeway.jpg');
		}
		&--6 {
			background-image: url('../img/slider/6-slide-small-shantaram.jpg');
		}
		&--7 {
			background-image: url('../img/slider/7-slide-small-morning.jpg');
		}
		&--8 {
			background-image: url('../img/slider/8-slide-small-sisters.jpg');
		}
		&--9 {
			background-image: url('../img/slider/9-slide-small-acapulco.jpg');
		}
	}

	&__nav {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4rem;
		width: 100%;
		background-color: $bgcolor;
	}

	&__nav-dots-contaner {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__nav-dot {
		width: 0.7rem;
		height: 0.7rem;
		margin: 0 0.8rem;
		border: none;
		border-radius: 50%;
		background-color: $second;
		opacity: 0.2;

		&--active {
			opacity: 0.8;
		}
	}

	&__autoplay {
		position: absolute;
		right: 2rem;
		width: 2rem;
		height: 2rem;
		border: none;
		background-color: inherit;
		background-image: url('../img/buttons/play-button.png');
		background-size: contain;
	}

	&__previous,
	&__next {
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: $first;
		opacity: 0.7;
		cursor: pointer;
	}
	&__previous {
		left: 0;
		right: calc(50% + 146px);
	}

	&__next {
		right: 0;
		left: calc(50% + 146px);
	}

	&__button {
		position: absolute;
		top: 50%;
		width: 4rem;
		height: 4rem;
		border: none;
		background-color: transparent;
		background-size: contain;
		opacity: 0.8;
		&--left {
			background-image: url('../img/buttons/left.png');
			left: calc(40% - 15px);
		}
		&--right {
			background-image: url('../img/buttons/right.png');
			right: calc(40% - 15px);
		}
	}
}

.active-dot {
	opacity: 0.8;
}
