@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.main-store {
	width: 100%;
	h4 {
		font-weight: 500;
	}
}

.head-store {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;

	&__title {
		padding-top: 10rem;
		padding-bottom: 6rem;
		max-width: 60rem;

		h2 {
			font-size: 3.6rem;
			color: $foot-text;
		}

		span {
			color: $second;
		}
	}

	&__help {
		display: none;
		padding-top: 12.5rem;
		min-width: 15rem;

		h4 {
			padding-bottom: 0.3rem;
		}

		a {
			font-weight: 400;
			font-size: 1.5rem;
			color: $link;
			&:hover {
				text-decoration: underline;
			}
		}

		&-up,
		&-down {
			position: relative;
			margin-bottom: 1.5rem;
			&::before {
				position: absolute;
				content: '';
				top: 0.3rem;
				left: -4rem;
				width: 3.5rem;
				height: 3.5rem;
				background-size: contain;
			}
		}

		&-up {
			&::before {
				background-image: url('../img/store/store-chat-specialist-icon.jpg');
			}
		}
		&-down {
			&::before {
				background-image: url('../img/store/iconmonstr-speech-bubble-comments-thin.svg');
				background-position: 0.4rem 0.4rem;
			}
		}
	}
}

.carousel-store {
	&__container {
		display: flex;
		overflow: hidden;
	}

	&__card {
		text-align: center;
		padding: 0 1.5rem;
		padding-bottom: 6rem;
	}
}
