@use '../utilities' as *;

@media only screen and (min-width: 834px) {
	.nav-bar {
		&__list {
			position: relative;
			display: flex;
			flex-direction: row;
			margin-left: auto;
			margin-right: auto;
			background-color: inherit;
		}

		&__burger {
			display: none;
		}

		&__search {
			display: block;
			margin-right: 1rem;
		}
	}

	.nav-top {
		display: none;
	}
}
