@use '../utilities' as *;

@media only screen and (min-width: 834px) {
	.nav-container {
		flex-direction: row;

		:nth-child(3) {
			order: 4;
		}
		:nth-child(4) {
			order: 5;
		}

		background-color: green;
	}

	.nav__list {
		position: relative;
		top: 0;
		flex-direction: row;
		background-color: rgba($color: $second, $alpha: 0.9);
	}

	.nav__burger {
		display: none;
	}

	.nav__search {
		display: block;
	}

	.nav__input-search {
		display: none;
	}
}
