@use '../utilities' as *;

@media only screen and (min-width: 834px) {
	.nav-container {
		flex-direction: row;

		:nth-child(3) {
			order: 4;
		}
		:nth-child(4) {
			order: 5;
		}
	}

	.nav__list {
		position: relative;
		top: 0;
		margin-left: auto;
		margin-right: auto;
		flex-direction: row;
		background-color: inherit;
		z-index: 0;
	}

	.nav__burger {
		display: none;
	}

	.nav__search {
		display: block;
		margin-right: 1rem;
	}

	.nav__input-search {
		display: none;
	}
}
