@use '../utilities' as *;

////////////////////// navigation ///////////////////////
/////////////////////////////////////////////////////////

.nav {
	position: fixed;
	width: 100%;
	background-color: rgba($color: $second, $alpha: 0.9);
	height: 4.8rem;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		height: 4.8rem;
	}

	&__burger,
	&__logo,
	&__search,
	&__bag {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4.8rem;
		width: 4.8rem;
	}

	&__search {
		display: none;
	}

	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&-bel {
			margin: 0.3rem;
			height: 0.1rem;
			width: 2rem;
			background-color: $first;
			transition: transform 0.5s;
		}
	}

	&__list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		background-color: $second;
		z-index: -5;
	}

	&__input-search {
		padding-top: 5rem;
	}

	&__input-form::placeholder {
		text-align: center;
		color: red;
	}

	&__input-form {
		height: 2.5rem;
		border-radius: 1rem;
		border: 1px solid $first;
		background-color: inherit;
	}

	img {
		height: 100%;
		width: 100%;
	}
}

.click-btn {
	.nav__burger-bel--up {
		transform: rotate(-45deg) translateX(-5px);
	}
	.nav__burger-bel--down {
		transform: rotate(45deg) translateX(-5px);
	}
}

.hidden {
	display: none;
}
